.about-container{
    width: 300px;
}
@media screen and (min-width: 576px) {
    .about-container{
        width: 500px;
    }
}
@media screen and (min-width: 768px) {
    .about-container{
        width: 600px;
    }    
}
@media screen and (min-width: 992px) {
    .about-container{
        width: 700px;
    }   
}
@media screen and (min-width: 1200px) {
    .about-container{
        width: 800px;
    }    
}