
.account-container{
  width: 350px;
  justify-self: center;
  justify-items: center;
  margin-bottom:30px;
}
.subscription-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-bottom: 2px solid black;
  padding-bottom: 20px;
}
.subscription-card{
  margin: 10px;

  padding:10px;
  border-radius: 20px;
  background-color: aliceblue;
  text-align: center;
  box-shadow: 1px 1px 2px 1px #66cec0;
}
.subscription-data{
  text-align: right;

}
.subscription-rate{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.transaction-history{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
.history_title{
  font-weight: bold;
}
.delete-button{
  position: relative;
  bottom: 0px;
  margin: 5px;
}
.transaction_amount{
  float: right;
}
.transaction_description{
  text-align: center;
}
.deleted {
  display: none;
}
@media screen and (min-width: 576px){

  .account-container{
    width: 500px;
  }
}
@media screen and (min-width: 768px){

  .account-container{
    width: 600px;
  }
}

@media screen and (min-width: 992px){

  .account-container{
    width: 700px;
  }
  .subscription-container{
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media screen and (min-width: 1200px){

  .account-container{
    width: 800px;
  }
  .subscription-container{
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}