.cart_button{
    border-radius: 15px;
    border:0.5px solid #66cec0;
    padding:8px 13px;
    background-color: rgb(191, 241, 240);
    font-size: 18px;
    font-weight: bold;
    width: max-content;
}
.cart_button:hover{
    background-color: rgb(144, 252, 176);
}
.mb-3{
    display:none;
}
.clicked{
    background-color: rgb(156, 255, 156);
}
.cart_button:hover{
    cursor: pointer;
}
.checkout-items{
    display: flex;
    flex-direction: column;
    padding: 8px;
    border-radius: 5px;
    background-color: white;
    border: 2px solid darkgray;
}

.checkout{
    margin-top: 10px;
    margin-bottom:10px;
    padding-top: 20px;
    background-color: rgb(245, 244, 244);
    display: grid;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    min-height: 80vh;
    border: 2px solid rgb(149, 142, 142);
    border-radius: 10px;
    width: 350px;
}
.itemName{
    margin-top: 10px;
    float: left;
    margin: 5px 0;
}
.price{
    float: right;
    margin-right: 200;
}
.link{
    margin: 0 20px
}
@media screen and (min-width: 576px) {
    .checkout{
        width: 500px;
    }
}
@media screen and (min-width: 768px) {
    .checkout{
        width: 600px;
    }    
}
@media screen and (min-width: 992px) {
    .checkout{
        width: 700px;
    }   
}
@media screen and (min-width: 1200px) {
    .checkout{
        width: 800px;
    }
}