.dataplan-container{
    font-size: 25px;
    padding:0 90px 10px;
    margin:10px;
    border-radius: 100px;
    background-color: aliceblue;
    text-align: center;
    box-shadow: 1px 1px 2px 1px #66cec0;
}
@media screen and (min-width: 576px) {
    
}
@media screen and (min-width: 768px) {
    
}
@media screen and (min-width: 992px) {
    .dataplan-container{
        font-size: 18px;
        padding:5px;
        margin:10px;
        border-radius: 100px;
    }
}
@media screen and (min-width: 1200px) {
    
}