.dropdown-link{
    position: relative;
    text-decoration: none;
    color:white;
    width: 130px;
    cursor: pointer;
    padding:5px;
    height: 40px;
    text-align: center;
}
.dropdown-link:hover{
    color:#66cec0;
}
.dropdown-menu{
    background-color: #262424;
    position: absolute;
    width: 130px;
    right: 0vw;
}
Menu :active{
    height:70px;
}
.dropdown-menu button{
    color:white;
    background-color: #262424;
    font-weight: bold;
    width:130px;
    height: 70px;
    margin:auto;
    font-size: 18px;
    border:none;
}
.dropdown-menu button:hover{
    cursor: pointer;
}
.dropdown-menu div{
    background-color: #262424;
    border:3px solid #66cec0;
    border-top: none;
    height: fit-content;
}


@media screen and (min-width: 576px) {
    
}
@media screen and (min-width: 768px) {
    
}
@media screen and (min-width: 992px) {
    .dropdown-menu{
        display:none;
    }
}
@media screen and (min-width: 1200px) {
    
}