.faq-container{
    width: 800px;
}
.faq-question{
    margin: 10px;
}
.faq-question :hover{
    cursor: pointer;
}
details > summary {
    list-style: none;
    font-weight: bold;
    margin-bottom: 3px;
  }
  details > summary::-webkit-details-marker {
    display: none;
  }