body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:none;
    padding:none;
}
.nav-bar{
    display:flex;
    flex-direction: row;
    border-bottom: 4px solid #66cec0;
    background-color: #262424;
    width: 100vw;
    justify-content: center;
    position:fixed; 
    top:0;
    z-index: 1;
}
.link{
    margin:0 10px;
    text-decoration: none;
    color:white;
    
}
.link :hover{
    color: #b0eff0;
}
.home-link{
}
.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top:70px;
    width: 100%;
    min-height: 80vh;
    background: rgb(226,224,228);
background: linear-gradient(90deg, rgb(217, 240, 240) 0%, rgb(255, 255, 255) 50%, rgb(217, 240, 240) 100%);
}
.phones-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 1000px;
}
.dataplans-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 1000px;
}
footer{
    background-color: #262424;
    height: 100px;
    width: 100vw;
    display: flex;
    flex-direction: column;
}
.github-link{
    text-decoration: none;
    color: white;
    font-size: 12px;
    margin: 10px 20px;
    bottom: 10px;
    text-align: right;
}