.phone-container{
    font-size: 25px;
    margin: 10px;
    padding:5px;
    display:grid;
    grid-template-columns: 1fr;
    text-align: center;
    border-bottom: 2px solid rgb(191, 248, 245);
}
.phone-details{
    margin:8px;
    
}
.phone-card{
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.phone-image-container {
    width: 150px;
    height: 310px;
    margin-left: 100px;
  }
.phone-image-container img{
    width: 100%;
    height: 100%;
    position: relative !important;
    justify-content: right;
    object-fit: contain;
}
.phone-image-dropdown img {
    width: 50%;
    height: 50%;
    position: relative !important;
    justify-content: right;
    object-fit: contain;
}
.phone-image-dropdown{
    padding:30px;
    background-color: rgb(255, 255, 255);
    border: 2px solid black;
    max-height: 300px;
    border-radius: 40px;
    overflow: scroll;
    position: absolute;
    width:850px;
    z-index: 2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.phone-page-cart-button{
    justify-content: right;
}
.phone-card-container{
    width:350px;
}
@media screen and (min-width: 576px) {
    .phone-card-container{
        width:500px;
    }
}
@media screen and (min-width: 768px) {
    .phone-card-container{
        width:600px;
    }
}
@media screen and (min-width: 992px) {
    .phone-card-container{
        width:700px;
    }
    .phone-container{
        font-size: 18px;
    }
}
@media screen and (min-width: 1200px) {
    .phone-card-container{
        width:1000px;
    }
}